* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 1000px !important;
}

.header {
  height: 60px;
  background-color:fff;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.39);
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header__input {
  width: 236px;
  height: 35px;
  border: none;
  background-color: #EFEFEF;
  border-radius: 10px;
  padding: 10px;
}

.header__input:focus {
  outline: none;
}
.header__list {
  padding: 0;
  margin: 0;
  width: 278px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.bx {
  font-size: 30px;
  color: #000;
}

.myimg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.hero {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.hero__name {
  font-size: 26px;
  display: inline-block;
  font-weight: 100;

}


.hero__info button {
  background-color: #fff;
  border: none;
  padding: 2px;
  border-radius:2px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  margin-left: 15px;
}

.bx-chevron-down {
  font-size: 18px;
}

.hero__img {
  width: 150px;
  height: 150px;
  border-radius: 50%;  
  padding: 5px;
}

.hero__user__info {
  display: flex;
  flex-direction: column;
}

.hero__followers a {
  margin-right: 20px;
  text-decoration: none;
  color: #000;
}

.hero__followers a b {
  padding: 5px;
}

.hero__user__info a {
  text-decoration: none;
}

.main__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;  
}

.main__item {
  position: relative;
  padding: 12px;
}

.main__item:hover .item__wrap{
  display: block;
}
.main__item:hover .main__btnpart button{
  display: block;
}

.item__box {
  width: 300px;
  height: 300px;
}

.item__wrap {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: #000;
  opacity: 0.2;
  display: none;
}

.main__img {
  width: 300px !important;
  height: 300px !important;
  object-fit: cover;
}

.main__desc {
}

.main__btnpart {
  display: flex;
  position: absolute;
  top: 50%;
  left: 80%;
}

.main__btnpart .bx {
  color: #fff;
  font-size: 20px;
}

.main__btnpart button {
  border: none;
  background-color: transparent;
  margin-left: 20px;
  display: none;
}

.btn-close {
  position: absolute;
  top: 0%;
  right: -50%;
}

.modal-content{  
  width: 90% !important;
}

.modal__headerr {
  display: flex !important;
  justify-content: start;
}

.modal-dialog {
  max-width: 1150px;

}

.modal__left {
  width: 40vw;
  height: 655px;
  object-fit: cover;
}


.m_ali {
  width:40px;
  height: 40px;
  border-radius: 50%;
}

.modalright {
  position: relative;
}

.modal__right-img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
}

.user__name {
  margin-top: 20px;
  margin-left: 30px;
}

.comment {
  margin: 20px 0 20px 30px;
  font-size: 14px;
  font-weight: 500;
}

.plus {
  text-align: center;
  margin-bottom: 50px;
}

.main__modal {
  overflow-y: scroll;
  height: 500px;

}
.main__modal::-webkit-scrollbar{
  width: 0;
}

.main__btn-list {
  display: flex;
}

.main__btn-list li {
  list-style-type: none;
}

.main__btn-list button {
  background-color: transparent;
  border: none;
}

.bxs-heart {
  color: red;
}

.user__name a {
  color: #000;
  text-decoration: none;
  opacity: 0.5;
  font-size: 16px;
}